:root {
  --primery-color-tittle: #212121;
  --secondary-color-text: #757575;
  --primery-white-color: #fff;
  --accent-color: #2196f3;
}

body {
  font-family: 'Roboto', sans-serif;
  width: 1600px;
}
.link {
  text-decoration: none;
}
.list {
  list-style-type: none;
}
/* -----------------------------------------------------index.html------------------------------------- */
/* <---------------header----------------> */

.dark-logo {
  color: #000000;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primery-color-tittle);
}
.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}
.current {
  color: var(--accent-color);
}

.header-contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--secondary-color-text);
}

.header-contact-link:hover,
.header-contact-link:focus {
  color: var(--accent-color);
}
/* <---------------hero----------------> */
.hero {
  background-color: #2f303a;
}
.hero-tittle {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primery-white-color);
}
.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primery-white-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  cursor: pointer;
  border: none;
}

/* <---------------features----------------> */

.features-subtittle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primery-color-tittle);
}

.features-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color-text);
}
/* <---------------work----------------> */
.work-tittle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primery-color-tittle);
}
/* <---------------our team----------------> */
.team {
  background-color: #f5f4fa;
}
.team-tittle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primery-color-tittle);
}

.team-subtittle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.8;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primery-color-tittle);
}
.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color-text);
}
.team-list-item {
  background-color: #fff;
}
/* <---------------footer----------------> */
.footer {
  background-color: #2f303a;
}
address {
  font-style: normal;
}
.white-logo {
  color: #ffffff;
}
.footer-address-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer-address-link:hover,
.footer-address-link:focus {
  color: var(--accent-color);
}
.footer-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}
/* --------------------------------------------------porfolio.html----------------------------------- */

.portfolio-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primery-color-tittle);
  background: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
  border: none;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}

.portfolio-subtittle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primery-color-tittle);
}

.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-color-text);
}
