:root {
  --primery-color-tittle: #212121;
  --secondary-color-text: #757575;
  --primery-white-color: #fff;
  --accent-color: #2196f3;
}

body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  line-height: 1.14;
  font-size: 14px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
}

.link {
  text-decoration: none;
}
.list {
  list-style-type: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid red; */
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-tittle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--primery-color-tittle);
  margin-bottom: 60px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
/* -----------------------------------------------------index.html------------------------------------- */
/* <---------------header----------------> */
.header {
  border-bottom: 1px solid #ececec;
}
.header-container {
  display: flex;
  align-items: center;
}
.dark-logo {
  color: #000000;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}
.header-logo {
  margin-right: 95px;
}
.header-navi {
  display: flex;
}
.header-list {
  display: flex;
}

.header-item:not(:last-child) {
  margin-right: 50px;
}

.header-link {
  display: block;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--primery-color-tittle);
  padding-top: 35px;
  padding-bottom: 35px;
}
.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}
.current {
  color: var(--accent-color);
}
.header-contact {
  display: flex;
  margin-left: auto;
}
.header-contact-item:not(:last-child) {
  margin-right: 50px;
}
.header-contact-link {
  display: block;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-color-text);
  padding-top: 35px;
  padding-bottom: 35px;
}

.header-contact-link:hover,
.header-contact-link:focus {
  color: var(--accent-color);
}
/* <---------------hero----------------> */
.hero {
  background-color: #2f303a;
}
.hero-container {
  padding-top: 213px;
  padding-bottom: 200px;
}
.hero-tittle {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primery-white-color);
  width: 605px;
  margin: 0 auto;
  padding-bottom: 45px;
}
.hero-btn {
  display: block;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primery-white-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  cursor: pointer;
  border: none;
  margin: 0 auto;
  padding: 18px 33px;
}
.hero-btn:hover,
.hero-btn:focus {
  color: #000000;
}

/* <---------------features----------------> */
.work-section {
  padding-top: 0;
}

.features {
  display: flex;
  justify-content: space-between;
}

.features-item {
  width: 270px;
}

.features-tittle {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--primery-color-tittle);
  padding-bottom: 20px;
}

.features-text {
  line-height: 1.71;
  color: var(--secondary-color-text);
}
/* <---------------work----------------> */
.work {
  display: flex;
}

.work-item:not(:nth-child(3n)) {
  margin-right: 30px;
}
/* <---------------our team----------------> */
.team {
  display: flex;
}

.team-bg {
  background-color: #f5f4fa;
}

.team-tittle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.8;
  text-align: center;
  color: var(--primery-color-tittle);
  margin-bottom: 17px;
}
.team-text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--secondary-color-text);
  margin-bottom: 34px;
}
.team-item {
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-item:not(:nth-child(4n)) {
  margin-right: 30px;
}

.team-img {
  margin-bottom: 33px;
}
/* <---------------footer----------------> */
.footer {
  background-color: #2f303a;
}
.footer-logo {
  display: inline-block;
  margin-top: 66px;
  margin-bottom: 33px;
}
address {
  font-style: normal;
}
.white-logo {
  color: #ffffff;
}
.footer-address-link {
  line-height: 1.71;
  color: #ffffff;
}
.footer-address-link:hover,
.footer-address-link:focus {
  color: var(--accent-color);
}

.footer-list-item:not(:last-child) {
  margin-bottom: 20px;
}
.footer-list-item:last-child {
  display: inline-block;
  margin-bottom: 64px;
}
.footer-link {
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}
.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}
/* --------------------------------------------------porfolio.html----------------------------------- */
/* <---------------filter----------------> */

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}
.filter-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primery-color-tittle);
  background: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  padding: 13px 24px;
}

.filter-btn:hover,
.filter-btn:focus {
  color: #ffffff;
  background-color: var(--accent-color);
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.25); */
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
}
.portfolio-tittle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primery-color-tittle);
  padding-top: 30px;
  padding-bottom: 25px;
  padding-left: 25px;
}
.portfolio-item {
  margin-right: 30px;
  margin-bottom: 30px;
}
.portfolio-item:nth-child(3n) {
  margin-right: 0;
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-color-text);
  padding-left: 25px;
  padding-bottom: 25px;
}
.wrapp {
  /* padding-left: 25px;
  padding-top: 30px;
  padding-bottom: 26px; */
  border: 1px solid #eeeeee;
  border-top: none;
}
